h1 CRUD e pesquisa em Redis com node.js
h2 Lista de Tarefas
form(action="/save", method="post")
  p
    label Adicione uma nova tarefa: 
    input(type='text',placeholder='Nova Tarefa', name='todo-text', value='#{oldText}')
    input(type='hidden',placeholder='Nova Tarefa', name='id', value='#{anid}')
  p
    input(type='submit', value='Salvar')
table
  each todo in todos
    tr
      td #{todo.text}
      td
        a(href='/todo?id=#{todo.id}') Edit
      td
        a(href='/remove?id=#{todo.id}') Delete
br
a(href='/removeAll') Limpar Database
h2 Pesquisar Indexes
form(action="/getKeys", method="post")
  p
    label Digite: 
    input(type='text',placeholder='REGEX ou deixe em branco para *', name='regex', value='#{regex}')
  p
    input(type='submit', value='Pesquisar')
  p #{listaKeys}
    
  

